<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Album Release Newsletter</title>
    <style>
    /* Set default colors for light mode */
    :root {
        --background-color: white;
        --foreground-color: #fff;
        --text-color: #1F2328;
        --text-color-muted: #656d76;
        --text-color-subtle: #6e7781;
        --accent-color: #0969da;
        --border-color: #d0d7de;
    }

    /* Dark mode */
    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: #0d1117;
            --foreground-color: #e6edf3;
            --text-color: #e6edf3;
            --text-color-muted: #7d8590;
            --text-color-subtle: #6e7681;
            --accent-color: #4e9fff;
            --border-color: #30363d;
        }
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--text-color);
    }

    .container {
        text-align: center;
    }

    .header {
        margin-bottom: 20px;
    }

    .header h1 {
        color: var(--text-color);
    }

    a {
        display: inline-block;
        text-decoration: none;
    }

    .album {
        padding: 15px;
    }

    .album img {
        max-width: 100%;
        border-radius: 4px;
    }

    .album div.genre {
        color: var(--text-color-muted);
    }

    .artist-name {
        color: var(--text-color-subtle)
    }

    .streaming-platform img {
        height: 1.5em; /* Set the desired height for the icons */
        margin: 0.5em;
    }
    </style>
</head>
<body>

<div class="container">
    <div class="header">
        <h1>Music Album Release Newsletter</h1>
        <p>Discover the latest music releases and stay tuned!</p>
    </div>

    <div class="albums">
        {{range .}}
        <div class="album">
            <img src="{{.AlbumArt}}" alt="{{.AlbumName}} Cover">
            <div class="album-name">{{.AlbumName}}</div>
            <div class="artist-info">
               <div class="artist-name">{{.ArtistName}}</div>
            </div>
            <div class="streaming-platform">
            {{if .GetTidalURL}}
                <span class="spotify">
                    <a href="{{.GetTidalURL}}" target="_blank">
                        <img src="https://tidal.com/apple-touch-icon.png" alt="tidal logo">
                    </a>
                </span>
            {{end}}
            {{if .GetSpotifyURL}}
                <span class="tidal">
                    <a href="{{.GetSpotifyURL}}" target="_blank">
                        <img src="https://open.spotifycdn.com/cdn/images/favicon32.b64ecc03.png" alt="spotify logo">
                    </a>
                </span>
            {{end}}
            </div>
            <div class="genre">Genre: {{.Genre}}</div>
        </div>
        {{end}}
    </div>
</div>
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-theme', 'dark');
    } else {
        document.documentElement.setAttribute('data-theme', 'light');
    }
</script>
</body>
</html>
