<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Album Release Newsletter</title>
    <style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1F2328;
    }

    .container {
        text-align: center;
    }

    .header {
        margin-bottom: 20px;
    }

   .header p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .header h1 {
        height: 3.5rem;
        color: #1F2328;
        font-size: 2.5rem;
        line-height: 1.4;
        font-weight: 500;
    }

    .album-name {
        font-size: 1.25rem;
        line-height: 1.6;
        font-weight: 600;
    }

    .artist-name {
        color: #6e7781;
        font-size: 1.25rem;
        line-height: 1.6;
        font-weight: 400;
    }

    a {
        display: inline-block;
        text-decoration: none;
    }

    .album {
        padding: 15px;
    }

    .album img {
        max-width: 100%;
        border-radius: 4px;
    }

    .album div.genre {        
        color: #6e7781;
        font-size: 0.75rem;
        line-height: 1.66666;
    }

    .streaming-platform img {
        height: 1.5em;
        margin: 0.5em;
    }

    .popularity {
        padding: 0px 7px;
        font-weight: 600;
        line-height: 1;
        font-size: 12px;
        border-color: rgb(208, 215, 222);
        border-width: 1px;
        border-radius: 999px;
        border-style: solid;
    }
    </style>
</head>
<body>

<div class="container">
    <div class="header">
        <h1>New Music Friday</h1>
        <p>A weekly recap about the new music album releases.</p>
    </div>

    <div class="albums">
        {{range .}}
        <div class="album">
            <img src="{{.AlbumArt}}" alt="{{.AlbumName}} Cover">
            <div>
                <span class="album-name">{{.AlbumName}}</span>
                <span class="popularity">{{.Spotify.Popularity}}</span>
            </div>
            {{if not .Spotify.Artists}}
                <div class="artist-info">
                    <div class="artist-name">{{.ArtistName}}</div>
                </div>
            {{else}}
                {{range .Spotify.Artists}}
                    <div class="artist-info">
                        <span class="artist-name">{{.Name}}</span>
                        <span class="popularity">{{.Popularity}}</span>
                    </div>
                {{end}}
            {{end}}
            <div class="streaming-platform">
            {{if .GetTidalURL}}
                <span class="tidal">
                    <a href="{{.GetTidalURL}}" target="_blank">
                        <img src="cid:tidal-icon.png" alt="Tidal">
                    </a>
                </span>
            {{end}}
            {{if .GetSpotifyURL}}
                <span class="spotify">
                    <a href="{{.GetSpotifyURL}}" target="_blank">
                        <img src="cid:spotify-icon.png" alt="Spotify">
                    </a>
                </span>
            {{end}}
            {{if .GetDeezerURL}}
                <span class="deezer">
                    <a href="{{.GetDeezerURL}}" target="_blank">
                        <img src="cid:deezer-icon.png" alt="Deezer">
                    </a>
                </span>
            {{end}}
            </div>
            <div class="genre">Genres: {{range .Genres}}{{.}}{{end}}</div>
        </div>
        {{end}}
    </div>
</div>
</body>
</html>
